$icon-font-path: "../fonts/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#slide .jumbotron {
   min-height:800px;
   margin-bottom:0px;
}

.slide {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.slideDown {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.slideUp {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.flashes {
    list-style: none;
}

#topnav {
    height: 30px;
    margin-bottom: 0px;
    min-height:20px;
    background-color: #1A50B8;
}
#topnav .navbar-form {
    margin: 3px;
}
#navbar .nav>li>a {
    border-right:1px solid #fff;
    line-height: 8px;
}
#navbar .nav>li>a .glyphicon {
    line-height: 0px;
}
#navbar-inner li:last-child>a {
 border-right: 0px;
}
#navbar .nav>li>a {
    color: white;
    padding: 4px 10px;
    margin: 6px 0px;
}
#topnav .btn {
    padding: 0px;
}
#topnav .form-control {
    height: 22px;
}
#topnav .header {
    margin-bottom: 0px;
}
#topnav .navbar {
    margin-bottom: 0px;
}

#mainnav {
    height: 100px;
    background-color: #dedede;
    background-image: url(http://img.bimba.edu.cn/res/nsd/images/navbar-bg.jpg);
    background-position: -150px 0;
    background-repeat: no-repeat;
    background-size: auto 186px;
}
#mainnav .container {
    margin: 0px auto;
    padding: 25px 5px;
}
#mainnav .nav>li>a {
    margin: 25px 0px;
    padding: 5px 15px;
    font-size: 18px;
}
#mainnav .nav>li>a {
    border-right:1px solid #000;
    line-height: 8px;
}
#mainnav .nav>li:last-child>a {
 border-right: 0px;
}
.nav-pills>li>a {
    color: black;
    border-radius: 0px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
#mainnav .dropdown-menu {
    top: 65%;
    padding: 0px 0px;
    font-size: 16px;
}

#mainnav .dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
    background-color: #eee;
    white-space: nowrap;
}
#mainnav .dropdown-menu>li {
    margin-top: 1px;
}
#mainnav .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    background-color: #fff;
}

.footer a {
    color: #777;
}
.footer .container {
    margin: 0 auto;
    padding: 15px 5px;
}
.footer .copyright {
    color: white;
    padding: 10px 0px;
    background-color: #1A50B8;
    text-align: center;
}
#main {
    min-height: 500px;
}

#breadcrumb {
    background-color: #f5f5f5;
}
#breadcrumb .row {
    margin: 0px auto;
    width: 1170px;
}